@using MyProject.Models
@model Repport

<h1>@ViewData["Title"]</h1>
<table border="1">
    <tr>
        <th>Year</th>
        <th>Enero</th>
        <th>Febrero</th>
        <th>Marzo</th>
        <th>Abril</th>
        <th>Mayo</th>
        <th>Junio</th>
        <th>Julio</th>
        <th>Agosto</th>
        <th>Septiembre</th>
        <th>Octubre</th>
        <th>Noviembre</th>
        <th>Diciembre</th>
        <th>TOTAL</th>        
    </tr>
        <tr>
            <td>@Model.Year</td>
            <td>@Model.Enero</td>
            <td>@Model.Febrero</td>
            <td>@Model.Marzo</td>
            <td>@Model.Abril</td>
            <td>@Model.Mayo</td>
            <td>@Model.Junio</td>
            <td>@Model.Julio</td>
            <td>@Model.Agosto</td>
            <td>@Model.Septiembre</td>
            <td>@Model.Octubre</td>
            <td>@Model.Noviembre</td>
            <td>@Model.Diciembre</td>
            <td>@Model.Total</td>            
           
</table>
