@model MyProject.Models.Item

<h1>Product Detail</h1>

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(p => p.ItemId)</td>
        <td>@Html.DisplayFor(p => p.ItemId)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(p => p.ItemOrder)</td>
        <td>@Html.DisplayFor(p => p.ItemOrder)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(p => p.ItemMonth)</td>
        <td>@Html.DisplayFor(p => p.ItemMonth)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(p => p.ItemYearM)</td>
        <td>@Html.DisplayFor(p => p.ItemYearM)</td>
    </tr>        
    <tr>
        <td>@Html.DisplayNameFor(p => p.ItemDesc)</td>
        <td>@Html.DisplayFor(p => p.ItemDesc)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(p => p.ItemBudget)</td>
        <td>@Html.DisplayFor(p => p.ItemBudget)</td>
    </tr>
</table>