@model IEnumerable<MyProject.Models.Months>
@{
    ViewData["Title"] = "Months Index Page";
}

<h1>@ViewData["Title"]</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Number</th>
        <th>Name</th>        
        <th>Delete</th>
        <th>Edit</th>
        <th>Detail</th>
    </tr>
    @foreach (var p in Model) {
        <tr>
            <td>@p.MoId</td>
            <td>@p.MoNum</td>
            <td>@p.MoNam</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = p.MoId })</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = p.MoId })</td>
            <td>@Html.ActionLink("Detail", "ShowDetail", new { id = p.MoId })</td>
        </tr>
    }
</table>
@Html.ActionLink("Add a New Item", "Create")